
.font-inter{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
/* universel tag use here */
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(255, 255, 255, 1);;
}
/* Nav section */
#parent , #box-parent , #brain-parent{
    max-width: 1600px;
    margin: 0 auto;
}

nav{
    max-width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px;
}
nav .nav-ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    list-style: none;
}
.nav-ul a{
    text-decoration: none;
}
.nav-btn{
    background-color: rgba(70, 145, 101, 1);
    color: rgba(255, 255, 255, 1);
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
    line-height: 19px;
}
/* Main section */

.box-content h1{
     color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
     font-size: 48px;
     font-weight: 700;
     line-height: 58px;
     text-align: center;
     margin-bottom: 16px;
}
.box-content p{
    width: 1360px;
    font-size: 16px;
    color: var(--#627382, rgba(98, 115, 130, 1));
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 44px;
}

.box-card{
    background: rgba(255, 255, 255, 1);
    gap: 16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.box-card h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    line-height: 29px;
    text-align: center;
    margin-bottom: 16px;
}
.box-card p{
font-size: 16px;
font-weight: 400;
color: var(--#627382, rgba(98, 115, 130, 1));
line-height: 20px;
text-align: center;
}

.box-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24;
}

/* Brain section */

#brain-parent{
    padding: 120px;
}
.brain-img{
    border-radius: 12px;
    margin-right: 60px;
}

#brain-parent{
    width: 1360px;
    display: flex;
}

.second-brain{
flex-direction: row;
justify-content: flex-start;
text-align: center;
}

.second-brain h4{
    color:rgba(70, 145, 101, 1) ;
    font-weight: 500;
    text-align: left;
    margin-bottom: 36px;
    margin-top: 120px;
}

.second-brain h1{
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: left;
}


.second-brain .description{
    color: var(--#627382, rgba(98, 115, 130, 1));
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: left;
}

.second-brain .check-desc{
    color: var(--Style, rgba(0, 25, 49, 1));
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.second-brain .st-check{
    display: flex;
    margin-bottom: 16px;
}